:host {
    display: block;
    --color: var(--mat-sys-primary);
    --bg-color: rgba(var(--mat-sys-primary-rgb), 0.05);
    color: var(--color);
}

.selector-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    transition: background 120ms ease, box-shadow 120ms ease;
    // border: 1px solid transparent;
    background: transparent;
    border: 1px solid var(--mat-sys-outline-variant);
    border: 1px solid var(--color);
    color: var(--color);
        font-weight: 500;
    // background: var(--bg-color);
}

.selector-btn:hover {
    background: #f3f4f6;
    background: var(--mat-sys-surface-variant);
}

.selector-btn.selected {
    // background: #eef2ff;
    // border-color: rgba(59, 130, 246, 0.12);
}

.icon-left {
    font-size: 20px;
    display: inline-flex;
}

.label {
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.caret {
    font-size: 20px;
}


// Theming styles

:host(.primary) {
    --color: var(--mat-sys-primary);
    --bg-color: rgba(var(--mat-sys-primary-rgb), 0.05);
}

:host(.secondary) {
    --color: var(--mat-sys-secondary);
    --bg-color: rgba(var(--mat-sys-secondary-rgb), 0.05);
}

:host(.tertiary) {
    --color: var(--mat-sys-tertiary);
    --bg-color: rgba(var(--mat-sys-tertiary-rgb), 0.05);
}

:host(.error) {
    --color: var(--mat-sys-error);
    --bg-color: rgba(var(--mat-sys-error-rgb), 0.05);
}