:host {
  display: block;
  --color-icon-hover: var(--mat-sys-primary);
  // background-color: var(--mat-sys-surface);
}

.mpt-menu {
  --color-icon-hover: var(--mat-sys-primary);
  --bg-color: rgba(var(--mat-sys-primary-rgb), 0.05);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: var(--border-radius);
  background-color: var(--mat-sys-surface);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: #212529;
  font-size: 0.95rem;
  cursor: pointer;
  text-align: left;
  background: #ffffff;
  border: 1px solid transparent;
  // border: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.menu-item i.material-icons {
  font-size: 18px;
  color: #495057;
  color: var(--mat-sys-on-surface);
  // color: var(--color-icon-hover);
}

.menu-item:hover {
  background: #f8f9fa;
  background: var(--mat-sys-surface-variant);
}

.menu-item:active {
  background: #e9ecef;
}

.menu-item .label {
  flex: 1 1 auto;
}


.menu-item.selected {
  background-color: rgba(128, 128, 128, 0.25) !important;
  background-color: var(--bg-color) !important;
  color: var(--color-icon-hover);
  border: 1px solid var(--mat-sys-outline-variant);

  i.material-icons {
    color: var(--color-icon-hover);
  }
}

// Theming styles


mpt-menu.primary {
  --color-icon-hover: var(--mat-sys-primary);
  --bg-color: rgba(var(--mat-sys-error-rgb), 0.05);
}

mpt-menu.secondary {
  --color-icon-hover: var(--mat-sys-secondary);
  --bg-color: rgba(var(--mat-sys-error-rgb), 0.05);
}

mpt-menu.tertiary {
  --color-icon-hover: var(--mat-sys-tertiary);
  --bg-color: rgba(var(--mat-sys-error-rgb), 0.05);
}

mpt-menu.error {
  --color-icon-hover: var(--mat-sys-error);
  --bg-color: rgba(var(--mat-sys-error-rgb), 0.05);
}