:host {
    --color-icon: inherit; //Start with no theme color
    --icon-size-px: 24px;
    font-weight: 500;
    display: inline-block;
    width: var(--icon-size-px);
    height: var(--icon-size-px);
    color: inherit;
}

i.material-icons {
    font-size: var(--icon-size-px);
    width: 100%;
    height: 100%;
}


:host(.primary) {
    i.material-icons {
        color: var(--mat-sys-primary);
    }

}

:host(.secondary) {
    i.material-icons {
        color: var(--mat-sys-secondary);
    }
}

:host(.tertiary) {
    i.material-icons {
        color: var(--mat-sys-tertiary);
    }
}

:host(.error) {
    i.material-icons {
        color: var(--mat-sys-error);
    }
}