:host {
    --color-text: var(--mat-sys-primary);
    --color-text-hover: var(--mat-sys-primary-container);
    --color-text-disabled: var(--mat-sys-outline);
    --border-radius: var(--mat-sys-corner-extra-small);
    font-size: 1rem;
    font-size: var(--mat-sys-label-large-size);
    font-weight: 500;
    display: inline-block;
    border-radius: var(--border-radius);
}

button {
    font: inherit;
    /* Inherits font styles from parent (like body) */
    color: inherit;
    /* Inherits text color from parent */
    text-align: inherit;
}

.mpt-text-button {
    width: 100%;
    background: transparent;
    border: none;
    // padding: 0.5rem 1rem;
    padding: 0.5rem;
    // border-radius: 4px;
    border-radius: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    color: var(--color-text);
    transition: color 0.2s, background-color 0.2s;
    min-height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
}


.mpt-text-button:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.04);
    background-color: var(--mat-sys-surface-variant);
}

.mpt-text-button:focus-visible {
    background-color: rgba(0, 0, 0, 0.08);
    outline: 2px solid var(--color-text);
    outline-offset: 2px;
}

.mpt-text-button:active:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.12);
}

.mpt-text-button:disabled {
    color: var(--color-text-disabled);
    cursor: not-allowed;
}

.mpt-text-button.primary {
    --color-text: var(--mat-sys-primary);
    --color-text-hover: var(--mat-sys-primary-container);
}

.mpt-text-button.secondary {
    --color-text: var(--mat-sys-secondary);
    --color-text-hover: var(--mat-sys-secondary-container);
}

.mpt-text-button.tertiary {
    --color-text: var(--mat-sys-tertiary);
    --color-text-hover: var(--mat-sys-tertiary-container);
}

.mpt-text-button.error {
    --color-text: var(--mat-sys-error);
    --color-text-hover: var(--mat-sys-error-container);
}