:host {
  display: block;
  // box-shadow: 0 6px 24px rgba(16, 24, 40, 0.06);
  
  // max-width: 720px;
}


.q {
  width: 24px;
  height: 24px;
  border-radius: var(--border-radius);
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  padding: 4px 8px;
}


.block:focus,
.block:focus-within {
  border-color: rgba(var(--mat-sys-primary-rgb), 0.5);
}


.footer {
  justify-content: space-between;

  .checkboxes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .form-row{
    margin-bottom: 0;
    margin-left: 20px;
  }

}