:host {
  display: flex;
  // flex-direction: column;
  align-items: center ;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 95%;
  max-width: 800px;
}