:host {
    --color-icon: var(--mat-sys-primary);
    --color-icon-hover: var(--mat-sys-primary-container);
    --color-icon-disabled: var(--mat-sys-outline);
    --color-ripple-rgb: var(--mat-sys-primary-rgb);
    --color-hover-rgb: var(--mat-sys-primary-container-rgb);
    --ripple-opacity: 0.15;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    width: 40px;
    height: 40px;
}

button {
    font: inherit;
    /* Inherits font styles from parent (like body) */
    color: inherit;
    /* Inherits text color from parent */
    text-align: inherit;
}

.mpt-icon-btn {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    // color: var(--color-icon);
    transition: color 0.2s, background-color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    position: relative;
    overflow: hidden;
}


.mpt-icon-btn:hover:not(:disabled) {
    background-color: var(--mat-sys-surface-variant);
    background-color: rgba(var(--color-hover-rgb), 0.25);
    color: var(--color-icon);
}

.mpt-icon-btn:focus-visible {
    background-color: rgba(0, 0, 0, 0.08);
    outline: 2px solid var(--color-icon);
    outline-offset: 2px;
}

.mpt-icon-btn:active:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.12);
}

.mpt-icon-btn:disabled {
    color: var(--color-icon-disabled);
    cursor: not-allowed;
}

.mpt-icon-btn.primary {
    --color-icon: var(--mat-sys-primary);
    --color-icon-hover: var(--mat-sys-primary-container);
    --color-ripple-rgb: var(--mat-sys-primary-rgb);
    --color-hover-rgb: var(--mat-sys-primary-container-rgb);
}

.mpt-icon-btn.secondary {
    --color-icon: var(--mat-sys-secondary);
    --color-icon-hover: var(--mat-sys-secondary-container);
    --color-ripple-rgb: var(--mat-sys-secondary-rgb);
    --color-hover-rgb: var(--mat-sys-secondary-container-rgb);
}

.mpt-icon-btn.tertiary {
    --color-icon: var(--mat-sys-tertiary);
    --color-icon-hover: var(--mat-sys-tertiary-container);
    --color-ripple-rgb: var(--mat-sys-tertiary-rgb);
    --color-hover-rgb: var(--mat-sys-tertiary-container-rgb);
}

.mpt-icon-btn.error {
    --color-icon: var(--mat-sys-error);
    --color-icon-hover: var(--mat-sys-error-container);
    --color-ripple-rgb: var(--mat-sys-error-rgb);
    --color-hover-rgb: var(--mat-sys-error-container-rgb);
}
