
    :host {
      display: block;
    }
    
.success-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-out;
}

.success-modal {
  width: 90%;
  max-width: 500px;
  background-color: var(--mat-sys-surface);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out;
}

.success-modal-header {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h3 {
    margin: 0;
    font-weight: 500;
    flex-grow: 1;
    margin-left: 8px;
  }
  
  button {
    color: var(--mat-sys-on-success);
  }
}

.success-modal-body {
  padding: 24px;
  color: var(--mat-sys-on-surface);
  font-size: 16px;
  line-height: 1.5;
  
  p {
    margin: 0;
    white-space: pre-wrap;
  }
}

.success-modal-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  // border-top: 1px solid var(--mat-sys-outline-variant);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}